apiVersion: apps/v1
kind: Deployment
metadata:
  name: softconsist-backend
  namespace: softconsist
  labels:
    app: softconsist-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: softconsist-backend
  template:
    metadata:
      labels:
        app: softconsist-backend
    spec:
      containers:
        - name: backend
          image: 041326371952.dkr.ecr.ap-south-1.amazonaws.com/softconsist-2/softconsist-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              value: mysql
            - name: DB_USER
              value: root
            - name: DB_PASSWORD
              value: root
            - name: DB_NAME
              value: softconsist
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"

