apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: softconsist
spec:
  clusterIP: None        # HEADLESS (important)
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306

