replicaCount: 1

image:
  repository: 041326371952.dkr.ecr.ap-south-1.amazonaws.com/softconsist-2/softconsist-backend
  tag: dev
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources: {}

imagePullSecrets: []
